API.key
test.ipynb
loan_data.csv
CARS_1.csv
old_code.txt
check_models_new_sdk.py
vizify_pypi_downloads.csv

# Python
.venv/
__pycache__/
*.pyc
build/
dist/
*.egg-info/

# Frontend
frontend/node_modules/
frontend/dist/
.vscode/
.idea/